.content-about {
    width: 100%;
    height: 100vh;
    background-color: #3f51b5;
    position: relative;
}

h6 {
    font-size: 50px;
    margin-left: 30%;
    display: inline-block;
    margin-block-end: 0rem;
}

.content-img-about {
    margin-top: 60px;
    width: 100%;
    height: 500px;
}

.content-about {
    color: #fff;
}

.content-about h6 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
    text-align: left;
    justify-content: left;
    margin-top: 50px;
    font-family: Arial Bold;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

.content-about h1 {
    text-align: left;
    justify-content: left;
    font-family: Arial Bold;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: white;
}

.content-about h2 {
    margin-top: 1px;
    font-size: 30px;
    margin-left: 30%;
    display: inline-block;
    margin-block-end: 0rem;
    color: white;
    font-family: Arial Bold;
    // opacity: 50%;
    letter-spacing: 0.5px;
    text-align: left;
    justify-content: left;
    font-family: Arial Bold;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    text-align: left;
}

.content-text {
    margin-top: 80px;
}

.about::before {
    position: relative;
    z-index: 990;
    height: 210px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url("../../../assets/img//wave/wave1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

// Mobile
.about-mobile {
    width: 100%;
    height: 82vh;
    background-color: #3f51b5;
    position: relative;
}

#profile-mobile {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    width: 100px;
    margin: 10px 40px;
}

.about-mobile h1 {
    margin-left: 50px;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: white;
}

#desc {
    font-size: 20px;
    margin-left: 25px;
    text-align: justify;
    margin-right: 25px;
}

#content-img {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100px;
}

#btn-about-mobile {
    margin-left: 10px;
    background-color: #0a97b0;
    border-radius: 50px;
    border: none;
    color: white;
    width: 200px;
    cursor: pointer;
    display: flex;
}